<br><br><br>
<div class="main-page">
    <mat-card class="main-page-card">
        <mat-card-title>Super Delicious Pizza</mat-card-title> <br>
        <mat-card-content style="font-size: 15px;">
            <p>
                Welcome to Super Delicious Pizza Delivery Service.
                This is the place when you may chose the most delicious Pizza you like from variety of options! <br>
                Order a delicious pizza on the go, anywhere, anytime. Super Delicious Pizza Delivery Service is happy to assist you with
                your home delivery. <br>
                Every time you order, you get a hot and fresh pizza delivered at your doorstep in less than thirty
                minutes. *T&C Apply.
            </p>
            <hr>
            <p>
                Hurry up and place your order now! <br>
                We are performing delivery free of charge in case if your order is exceeding RS.1200/-
            </p>
            <p>
                <b>Please Do Sign-in and Place Your Order.</b>
            </p>
        </mat-card-content>
    </mat-card>
</div>